@charset 'UTF-8';

.hero {
  padding: 5em 0;

  @media screen and (max-width: $screen-xs-max) {
    padding: 3em 0;
  }
}

.hero-content {
  max-width: 60%;
  padding-left: 1em;
  padding-bottom: 1em;
  border-left: 1px solid darken($gallery, 8%);

  p {margin: 0.3em 0;}

  p:first-child {
    font-size: 1.2em;
    line-height: $gr * 1em;
  }

  p:last-child {
    font-size: 0.85em;
    color: $boulder;
  }

  .icon {
    position: relative;
    top: 0.1em;
    font-size: 1.2em;
    padding-right: 0.2em;
  }

  @media screen and (max-width: $screen-md-max) {
    max-width: 60%;
  }

  @media screen and (max-width: $screen-sm-max) {
    max-width: 70%;
  }

  @media screen and (max-width: $screen-xs-max) {
    max-width: 90%;
  }
}
