@charset 'UTF-8';

.project-item {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 0.25em $gutter / 2;
  margin-bottom: $gutter / 2;

  h4 {
    position: relative;
    z-index: 50;
    display: inline-block;
    max-width: 55%;
    padding: 0.5em;
    padding-left: 0;
    margin: 0;
    font-family: $serif;
    font-weight: normal;
    color: $black;
    background: $white;
  }

  .icon {font-size: 0.8em;}

  &:hover .project-thumb {
    top: 0;
  }

  @media screen and (max-width: $screen-xs-max) {
    display: block;
  }
}

.project-thumb {
  background: $anzac;
  position: absolute;
  top: calc(100% - 0.25em);
  bottom: 0;
  left: $gutter / 2;
  right: $gutter / 2;
  z-index: 40;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  transition: top 0.2s;
}
