@charset 'UTF-8';

.project-item {
  display: block;
  position: relative;
  text-decoration: none;
  margin-bottom: $gutter / 2;
  padding: 6px $gutter / 2;

  h4 {
    display: inline-block;
    position: relative;
    z-index: 50;
    max-width: 55%;
    margin: 0;
    padding: 0.5em;
    padding-left: 0;
    background: $white;
    font-family: $serif;
    font-weight: normal;
    color: $black;
  }

  .icon { font-size: 0.8em; }

  &:hover .project-thumb {
    top: 0;
  }

  @media screen and (max-width: $screen-xs-max) {
    display: block;
  }
}

.project-thumb {
  position: absolute;
  top: calc(100% - 6px);
  right: $gutter / 2;
  bottom: 0;
  left: $gutter / 2;
  z-index: 40;
  overflow: hidden;
  background: $anzac;
  background-size: cover;
  background-position: center center;
  transition: top 0.2s;
}
