{
  "presets": [
    "next/babel",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@emotion/babel-plugin",
    "babel-plugin-macros",
    ["prismjs", {
        "languages": [
          "css",
          "html",
          "javascript",
          "php",
          "jsx",
          "tsx",
          "scss",
          "twig",
          "typescript",
          "ignore",
          "applescript",
          "bash",
          "c",
          "csharp",
          "cpp",
          "clojure",
          "cmake",
          "dart",
          "dns-zone-file",
          "docker",
          "editorconfig",
          "elixir",
          "elm",
          "git",
          "go",
          "graphql",
          "haskell",
          "http",
          "java",
          "json",
          "kotlin",
          "latex",
          "liquid",
          "lua",
          "markdown",
          "mongodb",
          "monkey",
          "nginx",
          "objectivec",
          "ocaml",
          "python",
          "reason",
          "regex",
          "rss",
          "ruby",
          "rust",
          "sass",
          "sql",
          "svg",
          "swift",
          "toml",
          "vim",
          "visual-basic",
          "wasm",
          "xml",
          "yaml"
        ],
        "plugins": ["line-numbers"],
        "css": false
    }]
  ]
}