{
  "extends": [
    "wesbos",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["import"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "react-hooks/exhaustive-deps": 0,
    "react/jsx-props-no-spreading": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "packageDir": "./"
      }
    ],
    "jsx-a11y/control-has-associated-label": [ 2, {
        "ignoreElements": [
          "link"
        ]
      }
    ],
    "import/no-named-as-default": 0,
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "index",
          "parent",
          "sibling"
        ],
        "newlines-between": "always"
      }
    ]
  }
}
