<header class="header">
  <a href="#" class="brand">
    <img src="svg/yago.svg" alt="Yann Gouffon, JavaScript Developer and photographer" class="img-fluid">
  </a>

  {% include "@atoms/terminal-toggle/terminal-toggle.twig" %}
  {% include "@atoms/menu-toggle/menu-toggle.twig" %}
</header>
