.default {
  @apply
    inline-block
    relative
    border
    border-gray-300
    duration-300
    transition
    box-border
    hover:text-blue
    cursor-pointer
    px-3
    md:px-4
    py-1
    md:py-2
    text-sm
    md:text-base
    focus:outline-none
    focus:ring-4
    focus:ring-blue
    focus:ring-opacity-10
    uppercase
  ;
  border-image-slice: 1;

  &:after {
    @apply
      absolute
      border
      border-blue
      transition-opacity
      duration-300
      opacity-0
    ;
    content: '';
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-image: linear-gradient(
      to right,
      #0002FC 0%,
      #50E3C2 98%
    );
    border-image-slice: 1;
  }

  &:hover:after,
  &:focus:after {
    @apply opacity-100;
  }
}
