@charset 'UTF-8';

hr {
  height: 1px;
  margin: 2em 0;
  background: darken($gallery, 5%);
  border: 0;
}

.bg-clear { background: $gallery; }

.spacer {
  height: 4.0625em;

  &.spacer-xl { height: 7.5em; }
  &.spacer-lg { height: 5.625em; }
  &.spacer-md { height: 2.5em; }
  &.spacer-sm { height: 1.875em; }
  &.spacer-ssm { height: 0.9375em; }
  &.spacer-xs { height: 0.625em; }

  @media screen and (max-width: $screen-xs-max) {
    height: 1.875em;

    &.spacer-xl { height: 3.125em; }
    &.spacer-lg { height: 3.125em; }
    &.spacer-md { height: 1.55em; }
    &.spacer-sm { height: 1.25em; }
    &.spacer-xs { height: 0.625em; }
  }
}

.hide { display: none; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
