@charset 'UTF-8';

.main-wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.content-wrapper {
  width: 100%;
  transform: translateX(0);
  transition: transform 0.3s;

  &.left-open {transform: translateX(75%);}
  &.right-open {transform: translateX(-25%);}
}

.side-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: $black;
  transition: transform 0.3s;

  &.console-wrapper {
    width: 75%;
    transform: translateX(-100%);
  }

  &.menu-wrapper {
    width: 25%;
    left: auto;
    right: 0;
    transform: translateX(100%);
  }

  &.open {transform: translateX(0);}
}

.container {box-sizing: border-box;}

.article-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 $gutter;
}

[class*="col-"] {
  box-sizing: border-box;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: $screen-xs-max) {
    display: block;
  }
}
