@charset 'UTF-8';

.main-wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.content-wrapper {
  width: 100%;
  transform: translateX(0);
  transition: transform 0.3s;

  &.left-open {transform: translateX(25%);}
}

.side-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background: $black;

  &.console-wrapper {
    transform: translateX(-100%);
    transition: transform 0.3s;
  }

  &.open {transform: translateX(0);}
}

.article-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 $gutter;
}
