@font-face {
  font-family: "icon";
  src: url('../fonts/icon.eot');
  src: url('../fonts/icon.eot?#iefix') format('eot'),
    url('../fonts/icon.woff') format('woff'),
    url('../fonts/icon.ttf') format('truetype'),
    url('../fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-angular-simple:before { content: "\EA01" }
.icon-apple:before { content: "\EA02" }
.icon-appstore:before { content: "\EA03" }
.icon-aptana:before { content: "\EA04" }
.icon-atlassian:before { content: "\EA05" }
.icon-atom:before { content: "\EA06" }
.icon-axe:before { content: "\EA07" }
.icon-backbone:before { content: "\EA08" }
.icon-bitbucket:before { content: "\EA09" }
.icon-bonsai:before { content: "\EA0A" }
.icon-bootstrap:before { content: "\EA0B" }
.icon-bower:before { content: "\EA0C" }
.icon-bugsense:before { content: "\EA0D" }
.icon-canoe:before { content: "\EA0E" }
.icon-chrome:before { content: "\EA0F" }
.icon-chukchi:before { content: "\EA10" }
.icon-coda:before { content: "\EA11" }
.icon-code-badge:before { content: "\EA12" }
.icon-code:before { content: "\EA13" }
.icon-codepen:before { content: "\EA14" }
.icon-codrops:before { content: "\EA15" }
.icon-coffeescript:before { content: "\EA16" }
.icon-composer:before { content: "\EA17" }
.icon-creativecommons-badge:before { content: "\EA18" }
.icon-creativecommons:before { content: "\EA19" }
.icon-css-tricks:before { content: "\EA1A" }
.icon-css3-full:before { content: "\EA1B" }
.icon-css3:before { content: "\EA1C" }
.icon-database:before { content: "\EA1D" }
.icon-debian:before { content: "\EA1E" }
.icon-digital-ocean:before { content: "\EA1F" }
.icon-docker:before { content: "\EA20" }
.icon-drakar:before { content: "\EA21" }
.icon-dropbox:before { content: "\EA22" }
.icon-drupal:before { content: "\EA23" }
.icon-ember:before { content: "\EA24" }
.icon-firebase:before { content: "\EA25" }
.icon-firefox:before { content: "\EA26" }
.icon-git-branch:before { content: "\EA27" }
.icon-git-commit:before { content: "\EA28" }
.icon-git-compare:before { content: "\EA29" }
.icon-git-merge:before { content: "\EA2A" }
.icon-git-pull-request:before { content: "\EA2B" }
.icon-git:before { content: "\EA2C" }
.icon-github-alt:before { content: "\EA2D" }
.icon-github-badge:before { content: "\EA2E" }
.icon-github-full:before { content: "\EA2F" }
.icon-github:before { content: "\EA30" }
.icon-gnu:before { content: "\EA31" }
.icon-google-analytics:before { content: "\EA32" }
.icon-google-drive:before { content: "\EA33" }
.icon-grunt:before { content: "\EA34" }
.icon-gulp:before { content: "\EA35" }
.icon-hackernews:before { content: "\EA36" }
.icon-hammer:before { content: "\EA37" }
.icon-harp:before { content: "\EA38" }
.icon-heroku:before { content: "\EA39" }
.icon-horn:before { content: "\EA3A" }
.icon-html5-3d-effects:before { content: "\EA3B" }
.icon-html5-connectivity:before { content: "\EA3C" }
.icon-html5-device-access:before { content: "\EA3D" }
.icon-html5-multimedia:before { content: "\EA3E" }
.icon-html5:before { content: "\EA3F" }
.icon-ie:before { content: "\EA40" }
.icon-igloo:before { content: "\EA41" }
.icon-illustrator:before { content: "\EA42" }
.icon-instagram:before { content: "\EA43" }
.icon-ionic:before { content: "\EA44" }
.icon-javascript-1:before { content: "\EA45" }
.icon-javascript:before { content: "\EA46" }
.icon-jekyll-small:before { content: "\EA47" }
.icon-jenkins:before { content: "\EA48" }
.icon-jquery-logo:before { content: "\EA49" }
.icon-js-badge:before { content: "\EA4A" }
.icon-lamp:before { content: "\EA4B" }
.icon-laravel:before { content: "\EA4C" }
.icon-laurels:before { content: "\EA4D" }
.icon-less:before { content: "\EA4E" }
.icon-linkedin:before { content: "\EA4F" }
.icon-linux:before { content: "\EA50" }
.icon-magento:before { content: "\EA51" }
.icon-mailchimp:before { content: "\EA52" }
.icon-markdown:before { content: "\EA53" }
.icon-mitlicence:before { content: "\EA54" }
.icon-modernizr:before { content: "\EA55" }
.icon-mongodb:before { content: "\EA56" }
.icon-mountains:before { content: "\EA57" }
.icon-mozilla:before { content: "\EA58" }
.icon-mysql:before { content: "\EA59" }
.icon-nodejs-small:before { content: "\EA5A" }
.icon-nodejs:before { content: "\EA5B" }
.icon-npm:before { content: "\EA5C" }
.icon-opensource:before { content: "\EA5D" }
.icon-opera:before { content: "\EA5E" }
.icon-origami:before { content: "\EA5F" }
.icon-photoshop:before { content: "\EA60" }
.icon-php:before { content: "\EA61" }
.icon-rasberry-pi:before { content: "\EA62" }
.icon-react:before { content: "\EA63" }
.icon-redis:before { content: "\EA64" }
.icon-requirejs:before { content: "\EA65" }
.icon-responsive:before { content: "\EA66" }
.icon-ruby:before { content: "\EA67" }
.icon-safari:before { content: "\EA68" }
.icon-sass:before { content: "\EA69" }
.icon-scrum:before { content: "\EA6A" }
.icon-send:before { content: "\EA6B" }
.icon-smashing-magazine:before { content: "\EA6C" }
.icon-snap-svg:before { content: "\EA6D" }
.icon-stackoverflow:before { content: "\EA6E" }
.icon-sublime:before { content: "\EA6F" }
.icon-symfony-badge:before { content: "\EA70" }
.icon-symfony:before { content: "\EA71" }
.icon-terminal-badge:before { content: "\EA72" }
.icon-terminal:before { content: "\EA73" }
.icon-travis:before { content: "\EA74" }
.icon-trello:before { content: "\EA75" }
.icon-twitter:before { content: "\EA76" }
.icon-ubuntu:before { content: "\EA77" }
.icon-vim:before { content: "\EA78" }
.icon-w3c:before { content: "\EA79" }
.icon-waterfall:before { content: "\EA7A" }
.icon-windows:before { content: "\EA7B" }
.icon-wordpress:before { content: "\EA7C" }
.icon-yeoman:before { content: "\EA7D" }