@font-face {
  font-family: "icon";
  src: url('../fonts/icon.eot');
  src: url('../fonts/icon.eot?#iefix') format('eot'),
    url('../fonts/icon.woff') format('woff'),
    url('../fonts/icon.ttf') format('truetype'),
    url('../fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  display: inline-block;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

// transform the icon
.icon-flip-horizontal { transform: scaleX(-1); }
.icon-flip-vertical { transform: scaleY(-1); }
.icon-rotate-90deg { transform: rotate(90deg); }
.icon-rotate-180deg { transform: rotate(180deg); }
.icon-rotate-270deg { transform: rotate(270deg); }

// Variables with the unicode character
$icon-500px: "\EA01";
$icon-angular-simple: "\EA02";
$icon-apple: "\EA03";
$icon-appstore: "\EA04";
$icon-aptana: "\EA05";
$icon-atlassian: "\EA06";
$icon-atom: "\EA07";
$icon-axe: "\EA08";
$icon-backbone: "\EA09";
$icon-bitbucket: "\EA0A";
$icon-bonsai: "\EA0B";
$icon-bootstrap: "\EA0C";
$icon-bower: "\EA0D";
$icon-bugsense: "\EA0E";
$icon-camera: "\EA0F";
$icon-canoe: "\EA10";
$icon-chrome: "\EA11";
$icon-chukchi: "\EA12";
$icon-close: "\EA13";
$icon-coda: "\EA14";
$icon-code-badge: "\EA15";
$icon-code: "\EA16";
$icon-codepen: "\EA17";
$icon-codrops: "\EA18";
$icon-coffeescript: "\EA19";
$icon-composer: "\EA1A";
$icon-creativecommons-badge: "\EA1B";
$icon-creativecommons: "\EA1C";
$icon-css-tricks: "\EA1D";
$icon-css3-full: "\EA1E";
$icon-css3: "\EA1F";
$icon-database: "\EA20";
$icon-debian: "\EA21";
$icon-digital-ocean: "\EA22";
$icon-docker: "\EA23";
$icon-drakar: "\EA24";
$icon-dropbox: "\EA25";
$icon-drupal: "\EA26";
$icon-ember: "\EA27";
$icon-film: "\EA28";
$icon-firebase: "\EA29";
$icon-firefox: "\EA2A";
$icon-fullscreen: "\EA2B";
$icon-git-branch: "\EA2C";
$icon-git-commit: "\EA2D";
$icon-git-compare: "\EA2E";
$icon-git-merge: "\EA2F";
$icon-git-pull-request: "\EA30";
$icon-git: "\EA31";
$icon-github-alt: "\EA32";
$icon-github-badge: "\EA33";
$icon-github-full: "\EA34";
$icon-github: "\EA35";
$icon-gnu: "\EA36";
$icon-google-analytics: "\EA37";
$icon-google-drive: "\EA38";
$icon-grunt: "\EA39";
$icon-gulp: "\EA3A";
$icon-hackernews: "\EA3B";
$icon-hammer: "\EA3C";
$icon-harp: "\EA3D";
$icon-heroku: "\EA3E";
$icon-horn: "\EA3F";
$icon-html5-3d-effects: "\EA40";
$icon-html5-connectivity: "\EA41";
$icon-html5-device-access: "\EA42";
$icon-html5-multimedia: "\EA43";
$icon-html5: "\EA44";
$icon-ie: "\EA45";
$icon-igloo: "\EA46";
$icon-illustrator: "\EA47";
$icon-instagram: "\EA48";
$icon-ionic: "\EA49";
$icon-javascript-1: "\EA4A";
$icon-javascript: "\EA4B";
$icon-jekyll-small: "\EA4C";
$icon-jenkins: "\EA4D";
$icon-jquery-logo: "\EA4E";
$icon-js-badge: "\EA4F";
$icon-lamp: "\EA50";
$icon-laravel: "\EA51";
$icon-laurels: "\EA52";
$icon-left: "\EA53";
$icon-less: "\EA54";
$icon-linkedin: "\EA55";
$icon-linux: "\EA56";
$icon-magento: "\EA57";
$icon-mailchimp: "\EA58";
$icon-markdown: "\EA59";
$icon-mitlicence: "\EA5A";
$icon-modernizr: "\EA5B";
$icon-mongodb: "\EA5C";
$icon-mountains: "\EA5D";
$icon-mozilla: "\EA5E";
$icon-mysql: "\EA5F";
$icon-nodejs-small: "\EA60";
$icon-nodejs: "\EA61";
$icon-npm: "\EA62";
$icon-opensource: "\EA63";
$icon-opera: "\EA64";
$icon-origami: "\EA65";
$icon-photoshop: "\EA66";
$icon-php: "\EA67";
$icon-rasberry-pi: "\EA68";
$icon-react: "\EA69";
$icon-reactivex: "\EA6A";
$icon-redis: "\EA6B";
$icon-redux: "\EA6C";
$icon-requirejs: "\EA6D";
$icon-responsive: "\EA6E";
$icon-right: "\EA6F";
$icon-ruby: "\EA70";
$icon-safari: "\EA71";
$icon-sass: "\EA72";
$icon-scrum: "\EA73";
$icon-search: "\EA74";
$icon-send: "\EA75";
$icon-smashing-magazine: "\EA76";
$icon-snap-svg: "\EA77";
$icon-stackoverflow: "\EA78";
$icon-sublime: "\EA79";
$icon-symfony-badge: "\EA7A";
$icon-symfony: "\EA7B";
$icon-terminal-badge: "\EA7C";
$icon-terminal: "\EA7D";
$icon-tipi: "\EA7E";
$icon-torii: "\EA7F";
$icon-travis: "\EA80";
$icon-trello: "\EA81";
$icon-twitter: "\EA82";
$icon-ubuntu: "\EA83";
$icon-vim: "\EA84";
$icon-w3c: "\EA85";
$icon-waterfall: "\EA86";
$icon-windows: "\EA87";
$icon-wordpress: "\EA88";
$icon-yeoman: "\EA89";


.icon-500px:before { content: $icon-500px; }
.icon-angular-simple:before { content: $icon-angular-simple; }
.icon-apple:before { content: $icon-apple; }
.icon-appstore:before { content: $icon-appstore; }
.icon-aptana:before { content: $icon-aptana; }
.icon-atlassian:before { content: $icon-atlassian; }
.icon-atom:before { content: $icon-atom; }
.icon-axe:before { content: $icon-axe; }
.icon-backbone:before { content: $icon-backbone; }
.icon-bitbucket:before { content: $icon-bitbucket; }
.icon-bonsai:before { content: $icon-bonsai; }
.icon-bootstrap:before { content: $icon-bootstrap; }
.icon-bower:before { content: $icon-bower; }
.icon-bugsense:before { content: $icon-bugsense; }
.icon-camera:before { content: $icon-camera; }
.icon-canoe:before { content: $icon-canoe; }
.icon-chrome:before { content: $icon-chrome; }
.icon-chukchi:before { content: $icon-chukchi; }
.icon-close:before { content: $icon-close; }
.icon-coda:before { content: $icon-coda; }
.icon-code-badge:before { content: $icon-code-badge; }
.icon-code:before { content: $icon-code; }
.icon-codepen:before { content: $icon-codepen; }
.icon-codrops:before { content: $icon-codrops; }
.icon-coffeescript:before { content: $icon-coffeescript; }
.icon-composer:before { content: $icon-composer; }
.icon-creativecommons-badge:before { content: $icon-creativecommons-badge; }
.icon-creativecommons:before { content: $icon-creativecommons; }
.icon-css-tricks:before { content: $icon-css-tricks; }
.icon-css3-full:before { content: $icon-css3-full; }
.icon-css3:before { content: $icon-css3; }
.icon-database:before { content: $icon-database; }
.icon-debian:before { content: $icon-debian; }
.icon-digital-ocean:before { content: $icon-digital-ocean; }
.icon-docker:before { content: $icon-docker; }
.icon-drakar:before { content: $icon-drakar; }
.icon-dropbox:before { content: $icon-dropbox; }
.icon-drupal:before { content: $icon-drupal; }
.icon-ember:before { content: $icon-ember; }
.icon-film:before { content: $icon-film; }
.icon-firebase:before { content: $icon-firebase; }
.icon-firefox:before { content: $icon-firefox; }
.icon-fullscreen:before { content: $icon-fullscreen; }
.icon-git-branch:before { content: $icon-git-branch; }
.icon-git-commit:before { content: $icon-git-commit; }
.icon-git-compare:before { content: $icon-git-compare; }
.icon-git-merge:before { content: $icon-git-merge; }
.icon-git-pull-request:before { content: $icon-git-pull-request; }
.icon-git:before { content: $icon-git; }
.icon-github-alt:before { content: $icon-github-alt; }
.icon-github-badge:before { content: $icon-github-badge; }
.icon-github-full:before { content: $icon-github-full; }
.icon-github:before { content: $icon-github; }
.icon-gnu:before { content: $icon-gnu; }
.icon-google-analytics:before { content: $icon-google-analytics; }
.icon-google-drive:before { content: $icon-google-drive; }
.icon-grunt:before { content: $icon-grunt; }
.icon-gulp:before { content: $icon-gulp; }
.icon-hackernews:before { content: $icon-hackernews; }
.icon-hammer:before { content: $icon-hammer; }
.icon-harp:before { content: $icon-harp; }
.icon-heroku:before { content: $icon-heroku; }
.icon-horn:before { content: $icon-horn; }
.icon-html5-3d-effects:before { content: $icon-html5-3d-effects; }
.icon-html5-connectivity:before { content: $icon-html5-connectivity; }
.icon-html5-device-access:before { content: $icon-html5-device-access; }
.icon-html5-multimedia:before { content: $icon-html5-multimedia; }
.icon-html5:before { content: $icon-html5; }
.icon-ie:before { content: $icon-ie; }
.icon-igloo:before { content: $icon-igloo; }
.icon-illustrator:before { content: $icon-illustrator; }
.icon-instagram:before { content: $icon-instagram; }
.icon-ionic:before { content: $icon-ionic; }
.icon-javascript-1:before { content: $icon-javascript-1; }
.icon-javascript:before { content: $icon-javascript; }
.icon-jekyll-small:before { content: $icon-jekyll-small; }
.icon-jenkins:before { content: $icon-jenkins; }
.icon-jquery-logo:before { content: $icon-jquery-logo; }
.icon-js-badge:before { content: $icon-js-badge; }
.icon-lamp:before { content: $icon-lamp; }
.icon-laravel:before { content: $icon-laravel; }
.icon-laurels:before { content: $icon-laurels; }
.icon-left:before { content: $icon-left; }
.icon-less:before { content: $icon-less; }
.icon-linkedin:before { content: $icon-linkedin; }
.icon-linux:before { content: $icon-linux; }
.icon-magento:before { content: $icon-magento; }
.icon-mailchimp:before { content: $icon-mailchimp; }
.icon-markdown:before { content: $icon-markdown; }
.icon-mitlicence:before { content: $icon-mitlicence; }
.icon-modernizr:before { content: $icon-modernizr; }
.icon-mongodb:before { content: $icon-mongodb; }
.icon-mountains:before { content: $icon-mountains; }
.icon-mozilla:before { content: $icon-mozilla; }
.icon-mysql:before { content: $icon-mysql; }
.icon-nodejs-small:before { content: $icon-nodejs-small; }
.icon-nodejs:before { content: $icon-nodejs; }
.icon-npm:before { content: $icon-npm; }
.icon-opensource:before { content: $icon-opensource; }
.icon-opera:before { content: $icon-opera; }
.icon-origami:before { content: $icon-origami; }
.icon-photoshop:before { content: $icon-photoshop; }
.icon-php:before { content: $icon-php; }
.icon-rasberry-pi:before { content: $icon-rasberry-pi; }
.icon-react:before { content: $icon-react; }
.icon-reactivex:before { content: $icon-reactivex; }
.icon-redis:before { content: $icon-redis; }
.icon-redux:before { content: $icon-redux; }
.icon-requirejs:before { content: $icon-requirejs; }
.icon-responsive:before { content: $icon-responsive; }
.icon-right:before { content: $icon-right; }
.icon-ruby:before { content: $icon-ruby; }
.icon-safari:before { content: $icon-safari; }
.icon-sass:before { content: $icon-sass; }
.icon-scrum:before { content: $icon-scrum; }
.icon-search:before { content: $icon-search; }
.icon-send:before { content: $icon-send; }
.icon-smashing-magazine:before { content: $icon-smashing-magazine; }
.icon-snap-svg:before { content: $icon-snap-svg; }
.icon-stackoverflow:before { content: $icon-stackoverflow; }
.icon-sublime:before { content: $icon-sublime; }
.icon-symfony-badge:before { content: $icon-symfony-badge; }
.icon-symfony:before { content: $icon-symfony; }
.icon-terminal-badge:before { content: $icon-terminal-badge; }
.icon-terminal:before { content: $icon-terminal; }
.icon-tipi:before { content: $icon-tipi; }
.icon-torii:before { content: $icon-torii; }
.icon-travis:before { content: $icon-travis; }
.icon-trello:before { content: $icon-trello; }
.icon-twitter:before { content: $icon-twitter; }
.icon-ubuntu:before { content: $icon-ubuntu; }
.icon-vim:before { content: $icon-vim; }
.icon-w3c:before { content: $icon-w3c; }
.icon-waterfall:before { content: $icon-waterfall; }
.icon-windows:before { content: $icon-windows; }
.icon-wordpress:before { content: $icon-wordpress; }
.icon-yeoman:before { content: $icon-yeoman; }
