$gr: 1.61803398875;

$anzac: #dcb853;

$viking: #76aedd;
$curious-blue: #2d95e3;

$pear: #a6e22e;

$white: #fff;
$gallery: #ededed;
$silver: #c1c1c1;
$boulder: #7d7d7d;
$tundora: #434343;
$heavy-metal: #272822;
$black: #000;

$serif: 'Cala', Georgia, serif;
$sans: 'Ratio', Helvetica Neue, Helvetica, Arial, sans-serif;
$monospace: Monaco, "Lucida Console", monospace;

$base: 22px;
$gutter: $gr * 1em;
