@charset 'UTF-8';

.console {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.jqconsole {
  padding: 10px;
  font-family: $monospace !important;
  font-size: 0.8em;
  line-height: 1.4em;
  font-weight: normal;
  color: $anzac;
}

.jqconsole-cursor {
  border-left: 1px solid $white;
}

.jqconsole-blurred .jqconsole-cursor {
  background-color: transparent;
}

.jqconsole-header {
  display: block;
  padding-bottom: 0.4em;
  color: $white;
}

.jqconsole-output,
.jqconsole-old-prompt,
.jqconsole-prompt,
.jqconsole-header {
  white-space: normal;
  word-wrap: break-word;
  display: block;
  padding: 0.12em 0;
}

.jqconsole-prompt {
  color: $anzac;
}

.jqconsole-prompt-text {
  white-space: pre-wrap;
  &:empty {padding-left: 0.5em;}
}

.jqconsole-old-prompt {
  color: $anzac;
  font-weight: normal;
}

.jqconsole-input {
  color: $anzac;
}

.jqconsole-old-input {
  color: $anzac;
  font-weight: normal;
}

.jqconsole-output {
  white-space: pre;
  color: $white;
}
