@charset 'UTF-8';

footer {
  padding-top: 4em;
  padding-bottom: 1.5em;

  ul { padding: 0; }

  li {
    display: inline;
    padding: 0 0.75em;
    font-size: 0.8em;
    color: $boulder;
    a { color: $boulder; }
    a:after { border-color: $boulder; }
  }

  li .icon {
    position: relative;
    top: 0.05em;
    font-size: 0.8em;
  }

  li:first-child .icon {
    top: 0.2em;
    font-size: 1.25em;
    line-height: 0.8em;
  }
}

.terms {
  font-size: 0.7em;
  color: darken($silver, 10%);
}
