@charset 'UTF-8';

header {
  position: relative;
  padding: 2em 0;
  text-align: center;

  @media screen and (max-width: $screen-xs-max) {
    padding: 0.6em 0;

    img { max-height: 2.2em; }
  }
}
