@charset 'UTF-8';

.menu {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $sans;
  color: $white;
  justify-content: center;

  ul { padding: 0; }

  li {
    display: block;
    text-align: center;
    font-size: $gr * 1em;
  }

  a {
    display: block;
    padding: 0.8em 0;
    text-decoration: none;
    font-weight: 700;
    color: $anzac;

    &:hover {
      color: lighten($anzac, 22%);
    }
  }

  .icon {
    display: block;
    padding: 0.8em 0;
  }
}
