@charset 'UTF-8';

.photo-container {
  margin-left: -6px;
  margin-right: -6px;

  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .gallery-item {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: auto;
    float: left;
    margin: 8px;
  }

  img {
    display: inline-block;
    width: 100%;
  }
}
