@charset 'utf-8';

.bg-dark {
  background: #1d1f21 !important;
  color: $gray-100;
  margin-left: $gutter / -2;
  margin-right: $gutter / -2;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;

  @include media-breakpoint-down(md) {
    margin-left: 0;
    margin-right: 0;
  }

  [class*='border'] {
    border-color: $gray-700 !important;
  }

  .text-primary {
    color: $yellow !important;
  }
}

.table-sm td {
  padding-left: 0;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
}

.no-fractional-pixel-width {
  display: inline-table !important;
}
