@charset 'utf-8';

$gr: 1.61803398875;
$gutter: 80px;

$code-background: #161821;
$code-foreground: #abb2bf;
$code-comment: #5c6370;
$code-blue: #61afef;
$code-cyan: #56b6c2;
$code-green: #98c379;
$code-magenta: #c678dd;
$code-red: #e06c75;
$code-yellow: #e5c07b;
