@charset 'utf-8';

pre[class*='language'] {
  display: inline-block;
  width: calc(100% + #{$grid-gutter-width * 2});
  margin-left: $grid-gutter-width / -1 !important;
  margin-right: $grid-gutter-width / -1 !important;
  padding: $grid-gutter-width / 1.2 $grid-gutter-width !important;
  border-radius: 5px !important;

  @include media-breakpoint-down(md) {
    width: calc(100% + #{$grid-gutter-width});
    margin-left: $grid-gutter-width / -2 !important;
    margin-right: $grid-gutter-width / -2 !important;
    padding: $grid-gutter-width / 1.6 $grid-gutter-width / 2 !important;
    border-radius: 0 !important;

    * {
      font-size: 13px !important;
    }
  }

  * {
    background: transparent !important;
    font-size: 15.5px !important;
    line-height: 1.6em;
    font-family: $font-family-monospace !important;
    text-shadow: none !important;
  }
}
