@charset 'UTF-8';

pre[class*=language-],
pre.skills {
  background: $white;
  border: 1px solid $gallery;
  border-radius: 2px;
  font-size: 0.75em;
  box-shadow: none;

  &:before,
  &:after {
    content: none;
  }

  &.line-numbers {
    code {
      padding: 5px;
      padding-left: 3.4em;
    }

    .line-numbers-rows {
      width: 2.8em;
      padding: 5px 0;
      border-right-color: $gallery;

      span:before { color: $silver; }
    }
  }

  [class*=language-] { line-height: 1.7em; }
}

article {
  pre[class*=language-] { margin-bottom: 0; }

  pre[class*=language-],
  pre[class*=language-] + p,
  pre[class*=language-] + h2,
  pre[class*=language-] + h3,
  pre[class*=language-] + h4,
  pre[class*=language-] + h5 { margin-top: 2em; }
}

pre.skills {
  padding: 5px;
  padding-left: 3.4em;

  &.line-numbers .line-numbers-rows {
    top: 0.3em;
    left: 0;
    padding: 0;
  }
}

.data { color: $anzac; }

.code-legend {
  position: relative;
  top: -0.8em;
}
