@charset 'UTF-8';

pre[class*=language-] {
  background: $white;
  font-size: 0.75em;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid $gallery;

  &:before,
  &:after {content: none;}

  &.line-numbers {
    code {
      padding: 5px;
      padding-left: 3.4em;
    }

    .line-numbers-rows {
      width: 2.8em;
      padding: 5px 0;
      border-right-color: $gallery;

      span:before {color: $silver;}
    }
  }

  [class*=language-] {line-height: 1.7em;}
}

