@charset 'UTF-8';

.contributions {
  svg {
    max-width: 100%;
  }

  text {
    font-family: $sans;
    font-weight: 400;
    font-size: 0.7em;

    @media screen and (max-width: $screen-sm-max) {
      font-size: 0.95em;
    }
  }
}
