@charset 'UTF-8';

.console-toggle {
  display: block;
  position: absolute;
  top: 50%;
  left: 3em;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  padding: 0;
  background: none;
  border: 0;
  box-shadow: none;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  &:hover {
    span:nth-child(2) { transform: rotate(-45deg) translateX(-4px) translateY(-4px); }
    span:last-child { transform: translateY(4px); }
  }

  &.open {
    span:nth-child(2) { transform: rotate(-225deg) translateX(-20px) translateY(-20px); }
  }

  span:nth-child(2) {
    display: block;
    width: 10px;
    height: 10px;
    margin-left: -25%;
    border-right: 4px solid $black;
    border-bottom: 4px solid $black;
    transform: rotate(-45deg);
    transition: transform 0.3s;
  }

  span:last-child {
    display: block;
    width: 65%;
    height: 4px;
    margin-top: 3px;
    margin-left: 35%;
    background: $black;
    transition: transform 0.3s;
    &:last-child { margin-bottom: 0; }
  }

  @media screen and (max-width: $screen-xs-max) {
    left: $gutter/2;
  }
}
