@charset 'UTF-8';

.date {
  display: flex;
  align-items: center;
  color: $boulder;
  font-style: italic;
  margin-top: 2.5em;

  &:before,
  &:after {
    content: " ";
    border-bottom: solid $silver 1px;
    flex-grow: 1;
    margin-right: 0.5em;
  }

  &:after {margin-left: 0.5em;}
}
