@charset 'UTF-8';

.date {
  display: flex;
  align-items: center;
  margin-top: 2.5em;
  font-size: 0.85em;
  font-style: italic;
  color: $boulder;

  &:before,
  &:after {
    content: " ";
    flex-grow: 1;
    margin-right: 0.5em;
    border-bottom: solid $silver 1px;
  }

  &:after {
    margin-left: 0.5em;
    margin-right: 0;
  }
}
