@charset 'UTF-8';

.separator {
  display: flex;
  align-items: center;
  color: $silver;
  font-size: 1.8em;

  &:before,
  &:after {
    content: " ";
    border-bottom: solid $silver 1px;
    flex-grow: 1;
    margin-right: 0.2em;
  }

  &:after {
    margin-left: 0.2em;
    margin-right: 0;
  }
}
