@charset 'UTF-8';

.separator {
  display: flex;
  align-items: center;
  color: darken($gallery, 5%);
  font-size: 1.5em;

  &:before,
  &:after {
    content: " ";
    border-bottom: solid darken($gallery, 5%) 1px;
    flex-grow: 1;
    margin-right: 0.3em;
  }

  &:after {
    margin-left: 0.3em;
    margin-right: 0;
  }
}
