@layer base {
  @media screen and (min-width: 1000px) {
    .pswp__container {
      transition: transform 0.4s ease-in-out;
    }
  }

  .pswp__counter,
  .pswp__preloader {
    display: none;
  }

  .pswp--custom-bg {
    --pswp-bg: white;
    transition: background-color 0.25s;
  }

  .dark .pswp--custom-bg {
    --pswp-bg: black;
  }

  .pswp__top-bar {
    display: flex;
    align-items: center;
    padding-top: 15px;
  }

  .pswp__button {
    opacity: 0.4;
    transition: opacity 0.25s;
  }

  .pswp__button,
  .pswp__icn {
    color: black;
    transition: color 0.25s;
  }

  .dark .pswp__button,
  .dark .pswp__icn {
    color: white;
  }

  .pswp__button:hover {
    opacity: 1;
    cursor: pointer;
  }

  @media screen and (max-width: 762px) {
    .pswp__button {
      display: none;
    }
  }

  .pswp__button--arrow {
    top: auto;
    bottom: 0px;
    width: 20px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: -10px;
  }

  .pswp__button--arrow--next {
    right: 20px;
  }

  .pswp__button--arrow--prev {
    left: auto;
    right: 60px;
  }

  @media screen and (max-width: 762px) {
    .pswp__button--arrow {
      margin-right: 0px;
      margin-left: 0px;
    }
  }

  .pswp-custom-counter {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 24px;
  }

  @media screen and (max-width: 762px) {
    .pswp-custom-counter {
      margin-left: 12px;
      margin-top: 12px;
    }
  }
}
