@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply duration-200 transition-all inline no-underline pb-2 bg-gradient-to-r from-blue to-teal cursor-pointer;
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: left 90%;
  }
  .link:hover {
    background-size: 100% 1px;
  }
}