@charset 'utf-8';

.dev-facts {
  margin-bottom: 0.3rem;
  border: 1px solid $gray-700;
  border-radius: 3px;
  font-size: 0.7rem;
  line-height: 1.6rem;
  counter-reset: rows;

  i {
    font-style: normal;
  }

  > i:before {
    content: counter(rows);
    counter-increment: rows;
    display: inline-block;
    width: 2rem;
    margin-right: 0.7rem;
    padding: 0 0.5rem;
    border-right: 1px solid $gray-700;
    text-align: right;
    // font-size: 0.6rem;
    color: $gray-600;
  }
}

$contributions: (
  '0': darken($green, 0%),
  '1': darken($green, 20%),
  '2': darken($green, 40%),
  '3': darken($green, 60%),
  '4': darken($green, 80%),
);

@each $level, $color in $contributions {
  .contrib-#{$level} {
    fill: $color !important;
  }
}
