<pre class="dev-facts">
<i>{</i>
<i>  "name": "<i class="text-primary">yago</i>",</i>
<i>  "profile": "<a class="link-primary" href="#"><i class="text-primary">github.com/yago</i></a>",</i>
<i>  "time_total": "<i class="text-primary">571 hrs 40 mins</i>",</i>
<i>  "editor": "<i class="text-primary">vscode</i>",</i>
<i>  "platform": "<i class="text-primary">OSX</i>"</i>
<i>}</i>
</pre>
<p class="text-right text-muted text-sm text-sans">
  Last year data : <a class="link-primary" href="https://wakatime.com/@yago" target="_blank">Wakatime</a>
</p>
