<pre class="dev-facts">
<i>{</i>
<i>  "name": "<i class="text-success">yago</i>",</i>
<i>  "profile": "<a class="link-grad" href="https://github.com/yago/" target="_blank"><i class="text-info">github.com/yago</i></a>",</i>
<i>  "editor": "<i class="text-success">VSCode</i>",</i>
<i>  "platform": "<i class="text-success">macOS</i>"</i>
<i>}</i>
</pre>
<p class="text-right text-muted text-sm text-sans">
  Last year data : <a class="link-primary" href="https://wakatime.com/@yago" target="_blank">Wakatime</a>
</p>
