---
import { getCollection } from 'astro:content';
import { isNil, isNotNil } from 'ramda';

// import Image from '@/components/Picture.astro';
import Icon from '@/components/Icon.astro';
import Button from '@/components/Button.astro';
import ProjectTeaser from '@/components/ProjectTeaser.astro';
import PostTeaser from '@/components/PostTeaser.astro';
import DevFacts from '@/components/DevFacts.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { cm } from '@/utils';

const posts = await getCollection('posts');
const projects = await getCollection('projects');
---
<BaseLayout title="Welcome" noContainer>
  <div class="px-4 mx-auto max-w-screen-2xl md:px-14 motion-safe:animate-fadeInTop">
    <h1 class="sr-only">Yann Gouffon, developer and photographer</h1>
    <blockquote class="w-10/12 my-44 md:w-8/12 lg:w-1/2 xl:w-1/3">
      <p
        class="font-serif text-lg font-light text-gray-900 md:text-2xl lg:text-2.5xl leading-7 md:leading-9 lg:leading-10"
      >
        Ahoy there ! I'm Yann, senior web developer specialised in Frontend and JavaScript projects.
      </p>
      <footer class="mt-6 text-gray-600 md:text-lg lg:text-xl">
        — <Icon name="igloo" /> Based in Lausanne, Switzerland
      </footer>
    </blockquote>

    <div class="flex items-baseline justify-between scroll-fade-in">
      <h2 class="text-2xl font-medium text-gray-900 md:text-3xl lg:text-4xl">
        Last projects
      </h2>
      <Button href="/projects">See all</Button>
    </div>

    <div class="grid grid-cols-2 mt-12 md:grid-cols-3 gap-x-6 md:gap-x-10 gap-y-12">
      {projects
        .filter(i => isNotNil(i.data))
        .filter(i => isNil(i?.data?.published) || i?.data?.published)
        .sort((a, b) => +new Date(b?.data?.date) - +new Date(a?.data?.date))
        .slice(0, 6)
        .map((project) => (
          <div class="scroll-fade-in">
            <ProjectTeaser
              project={project.data}
              href={`/projects/${project.slug}`}
            />
          </div>
        ))}
    </div>
  </div>

  <div class="mt-32 scroll-fade-in">
    <DevFacts />
  </div>

  <div class="px-4 mx-auto max-w-screen-2xl md:px-14">
    <div class="flex items-baseline justify-between mt-16 scroll-fade-in">
      <h2 class="text-2xl font-medium text-gray-900 md:text-3xl lg:text-4xl">
        Last blog posts
      </h2>
      <Button href="/blog">See all</Button>
    </div>

    <div class="grid mt-16 lg:grid-cols-2 lg:gap-x-20 gap-y-16">
      {posts
        .sort((a, b) => +new Date(b?.data?.date) - +new Date(a?.data?.date))
        .slice(0, 4)
        .map((post, i) => (
          <div
            class={cm('scroll-fade-in', i === posts.length - 1 && 'mb-20')}
          >
            <PostTeaser
              post={post.data}
              href={`/blog/${post.slug}`}
            />
          </div>
        ))}
    </div>
  </div>
</BaseLayout>
