<a href="#" class="post-teaser my-2">
  <h3>Typescript by default <small class="text-sans text-muted">— 21.01.2019</small></h3>
  <p class="text-muted">
    So, TypeScript is not new stuff, but it became more and more popular in the JavaScript community those days and this is why is great to use it by default in your JavaScript projects...
  </p>
</a>
