@charset 'utf-8';

.post-teaser {
  display: block;
  color: $body-color;

  .text-muted {
    transition: color 0.2s ease-in-out;
  }

  &:hover {
    text-decoration: none;
    color: $body-color;

    .text-muted {
      color: $black !important;
    }
  }
}
