@charset 'utf-8';

article .gallery-item {
  display: inline-block;
  width: calc(100% + #{$grid-gutter-width * 2});
  margin-left: $grid-gutter-width / -1 !important;
  margin-right: $grid-gutter-width / -1 !important;

  img {
    width: 100%;
  }

  figcaption {
    padding-top: 0.5rem;
  }
}

// .pswp__ui--idle > * {
//   opacity: 1 !important;
// }

.pswp__bg {
  background: $white !important;
}

.pswp__button {
  background-image: none !important;

  &:before {
    content: none !important;
  }

  .icon {
    pointer-events: none;
    color: $black;
    transition: color 0.3s;
  }
}

.pswp__button:hover .icon {
  color: $blue;
}

.pswp__ui--fit .pswp__top-bar,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background-color: transparent;
}

.pswp__caption,
.pswp__top-bar {
  background-color: transparent !important;

  .icon {
    font-size: 0.8em;
  }
}

.pswp__counter {
  margin-top: 0.2em;
  font-size: 1em;
  font-family: $font-family-sans-serif;
  color: $black !important;
}

.counter-big {
  font-weight: 700;
}

.pswp__caption {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background: $white !important;
}

.pswp__caption__center {
  // padding-bottom: 0.5em;
  font-size: 0.7em;
  text-align: center !important;
  color: $black !important;
  font-family: $font-family-sans-serif;
}
