<figure
  class="gallery-item"
  itemprop="associatedMedia"
  itemscope
  itemtype="http://schema.org/ImageObject"
  data-index="1"
>
  <a
    href="https://source.unsplash.com/yVVcklmaUTE/1920x1080"
    itemprop="contentUrl"
    data-width="1920"
    data-height="1080"
  >
    <img src="https://source.unsplash.com/yVVcklmaUTE/1520x1000" alt="Image description" class="img-fluid">
    <figcaption class="px-2 text-sm text-muted">
      Great caption about image
    </figcaption>
  </a>
</figure>
