<a href="#" class="project-teaser card">
  <div class="card-img-wrapper">
    <img src="https://res.cloudinary.com/dwzk6imzg/image/upload/c_crop,g_center,h_900,w_1200/v1549034410/share/les-toits-de-lutry.jpg" class="card-img-top img-fluid" alt="DESC">
  </div>
  <div class="card-body text-sans">
    <h3 class="h6">Card title</h3>
    <small class="card-text">Site promotion immobilière</small>
  </div>
</a>
