.gallery-teaser {
  img {
    @apply transition-opacity duration-1000 opacity-70;
  }

  .picture {
    background: none !important;
  }

  & > div:first-of-type {
    @apply relative overflow-hidden;

    &:after {
      content: '';
      @apply
        absolute
        transform
        -translate-x-1/2
        -translate-y-1/2
        transition-opacity
        duration-1000
      ;
      top: 50%;
      left: 50%;
      width: 140%;
      padding-bottom: 140%;
      box-shadow: inset 0px 0px 60px 150px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
    }
  }

  &:hover > div:first-of-type:after {
    @apply opacity-10;
  }

  &:hover > div:first-of-type {
    @apply scale-110;
  }

  &:hover img {
    @apply opacity-100;
  }
}
