<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="link-primary">
      {% include "@atoms/icon/icon.twig" with { icon: "icon-tipi" } %}
    </a></li>
    <li class="breadcrumb-item"><a href="#" class="link-primary">Projects</a></li>
    <li class="breadcrumb-item active" aria-current="page">Une site de promotion immobilière</li>
  </ol>
</nav>
