@charset 'utf-8';

a {
  transition: color 0.2s;
}

.link-grad,
.link-grad-inner {
  display: inline;
  background: linear-gradient(to right, $blue 0%, $teal 98%);
  color: darken($blue, 12%);
  transition: background 0.25s ease-in-out;
  text-decoration: none !important;
  padding-bottom: 4px;
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 90%;

  // @include media-breakpoint-down(md) {
  //   background-size: 100% 1px;
  // }

  &:hover,
  a:hover & {
    background-size: 100% 1px;
  }
}

.link-grad-inner {
  color: $body-color;
}

article a:not(.btn) {
  @extend .link-grad;
}
