<div class="side-panel bg-dark" id="side-panel">
  <div class="side-navigation py-2">
    <nav class="nav flex-column text-sans">
      <a class="nav-link active" href="#">Active</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </nav>
  </div>
</div>
